html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#recreate-grid {
    display: block;
    margin: 10px auto;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid .row {
    display: flex;
    justify-content: center;
}

#grid .row .box {
    background-color: mistyrose;
    margin: 0;
}